@{
    ViewData["Title"] = "Politique de confidentialité";
}

<br>
<div class="text-center">
    <h3>Politique de confidentialité de Chaos Auto</h3>
    <p>
        Chez Chaos Auto, nous prenons votre vie privée au sérieux. Cette Politique de confidentialité décrit comment nous recueillons, utilisons et protégeons vos informations personnelles lorsque vous visitez notre site Web ou interagissez avec nos services.
    </p>
    <p>
        <strong>Informations que nous recueillons :</strong> Nous pouvons collecter divers types d'informations lorsque vous visitez notre site Web, y compris des informations personnelles telles que votre nom, votre adresse e-mail et votre numéro de téléphone. Nous recueillons également des informations non personnelles telles que votre adresse IP, le type de navigateur et les informations sur l'appareil.
    </p>
    <p>
        <strong>Comment nous utilisons vos informations :</strong> Les informations que nous recueillons sont utilisées pour fournir et améliorer nos services, personnaliser votre expérience et vous informer des promotions, produits et mises à jour. Nous ne vendons ni ne partageons vos informations personnelles avec des tiers sans votre consentement.
    </p>
    <p>
        <strong>Mesures de sécurité :</strong> Nous utilisons des mesures de sécurité conformes aux normes de l'industrie pour protéger vos informations personnelles contre tout accès, divulgation, altération ou destruction non autorisés. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir une sécurité absolue.
    </p>
    <p>
        <strong>Liens vers des tiers :</strong> Notre site Web peut contenir des liens vers des sites Web ou des services tiers qui ne sont pas exploités par nous. Nous n'avons aucun contrôle sur le contenu, les politiques de confidentialité ou les pratiques de ces sites Web et vous encourageons à consulter leurs politiques de confidentialité avant de fournir des informations personnelles.
    </p>
    <p>
        <strong>Modification de cette politique :</strong> Nous nous réservons le droit de mettre à jour ou de modifier cette Politique de confidentialité à tout moment. Toute modification sera effective dès la publication de la politique révisée sur notre site Web. Nous vous encourageons à consulter cette Politique de confidentialité périodiquement pour tout changement.
    </p>
    <p>
        <strong>Nous contacter :</strong> Si vous avez des questions ou des préoccupations concernant notre Politique de confidentialité ou la manière dont nous traitons vos informations personnelles, veuillez nous contacter à [adresse e-mail ou adresse postale].
    </p>
    <p>
        Votre vie privée est importante pour nous, et nous nous engageons à la protéger conformément à cette politique.
    </p>
</div>
