@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<div class="CategoryTreeItem"><span class="CategoryTreeBullet">
    <a href="/Products/index" title="index">index</a>
</div>

<p>Use this page to detail your site's privacy policy.</p>